.container {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Poppins", sans serif;
  background: darkgrey;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("/images/nz-scenic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 260px;
}

.header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
}

.header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 5px;
}

.header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}

.header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/nz-scenic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
}

footer h3 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 5px;
  margin-right: 20px;
}

footer h3.shift-right-title {
  margin-left: 20px;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.7;
  margin-left: 20px;
  margin-right: 20px;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer a:hover {
  font-weight: 700;
}
@media (max-width: 960px) {
  .header {
    padding: 30px;
  }

  .header h1 {
    font-size: 48px;
  }

  .header h2 {
    font-size: 20px;
  }

  .header h3 {
    font-size: 12px;
  }

  .header a {
    font-size: 8px;
  }
}
